Checks: >
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-chained-comparison,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -modernize-avoid-c-arrays,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-redundant-member-init
WarningsAsErrors: '*'
HeaderFilterRegex: 'include/merovingian/.*'
CheckOptions:
  - key: cppcoreguidelines-owning-memory
    value: '1'
  - key: readability-identifier-naming.MemberVariablePrefix
    value: 'm_'
  - key: readability-identifier-naming.MemberVariableCase
    value: 'lower_case'
