Checks: >
  -*,
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-chained-comparison,
  cert-*,
  -cert-err33-c,
  clang-analyzer-*,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-no-malloc,
  cppcoreguidelines-owning-memory,
  cppcoreguidelines-pro-type-const-cast,
  cppcoreguidelines-pro-type-reinterpret-cast,
  cppcoreguidelines-pro-type-static-cast-downcast,
  cppcoreguidelines-pro-type-union-access,
  cppcoreguidelines-slicing,
  misc-*,
  -misc-include-cleaner,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-starts-ends-with,
  performance-*,
  -performance-enum-size,
  portability-*,
  readability-misleading-indentation,
  readability-redundant-string-init,
  readability-simplify-boolean-expr,
  readability-static-accessed-through-instance
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include/merovingian|src)/.*'
CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: '3'
